<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barracks_1_barracks_1_01_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,123}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,123}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
            <key>barracks_1_barracks_1_03_01</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{101,120}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{101,120}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barracks_1.png</string>
            <key>size</key>
            <string>{221,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d12f25109432daafd908920a1d123169$</string>
            <key>textureFileName</key>
            <string>barracks_1.png</string>
        </dict>
    </dict>
</plist>
