<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clan_portal_1_clan_portal_1_01_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,108}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_01</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{80,95}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{80,95}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_02</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{80,95}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{80,95}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_03</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{82,93}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{82,93}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_04</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{82,93}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{82,93}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_05</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{86,91}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,51},{86,91}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_06</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{86,91}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,51},{86,91}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_07</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{90,91}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,49},{90,91}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_08</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{90,91}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,49},{90,91}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_09</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{92,89}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,48},{92,89}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_10</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{92,89}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,48},{92,89}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_11</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{94,87}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,49},{94,87}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_12</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{94,87}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,49},{94,87}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_13</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{94,89}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,47},{94,89}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_14</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{94,89}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,47},{94,89}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_15</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{94,87}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,48},{94,87}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_16</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{94,87}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,48},{94,87}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_17</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{92,87}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,48},{92,87}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_18</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{92,87}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,48},{92,87}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_19</key>
            <dict>
                <key>frame</key>
                <string>{{1245,2},{88,89}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,47},{88,89}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_20</key>
            <dict>
                <key>frame</key>
                <string>{{1245,2},{88,89}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,47},{88,89}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_21</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{86,87}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,49},{86,87}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_22</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{86,87}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,49},{86,87}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_23</key>
            <dict>
                <key>frame</key>
                <string>{{1335,2},{82,89}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,49},{82,89}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_24</key>
            <dict>
                <key>frame</key>
                <string>{{1335,2},{82,89}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,49},{82,89}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_25</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{80,91}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{80,91}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_26</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{80,91}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{80,91}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_27</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{78,93}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,50},{78,93}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_28</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{78,93}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,50},{78,93}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_29</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{78,95}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,50},{78,95}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_30</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{78,95}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,50},{78,95}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_31</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{78,95}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{78,95}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_32</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{78,95}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{78,95}}</string>
                <key>sourceSize</key>
                <string>{104,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clan_portal_1.png</string>
            <key>size</key>
            <string>{1507,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72a40d2bbe9393a1fc98b88d578507d0$</string>
            <key>textureFileName</key>
            <string>clan_portal_1.png</string>
        </dict>
    </dict>
</plist>
