<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headquarter_1_headquarter_1_01_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,204}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{196,204}}</string>
                <key>sourceSize</key>
                <string>{204,224}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_01</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{49,74}}</string>
                <key>offset</key>
                <string>{-26,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{49,74}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_02</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{49,74}}</string>
                <key>offset</key>
                <string>{-26,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{49,74}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_03</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{49,74}}</string>
                <key>offset</key>
                <string>{-26,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{49,74}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_04</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{49,74}}</string>
                <key>offset</key>
                <string>{-26,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{49,74}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_05</key>
            <dict>
                <key>frame</key>
                <string>{{208,78},{43,78}}</string>
                <key>offset</key>
                <string>{-23,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{43,78}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_06</key>
            <dict>
                <key>frame</key>
                <string>{{208,78},{43,78}}</string>
                <key>offset</key>
                <string>{-23,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{43,78}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_07</key>
            <dict>
                <key>frame</key>
                <string>{{208,78},{43,78}}</string>
                <key>offset</key>
                <string>{-23,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{43,78}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_08</key>
            <dict>
                <key>frame</key>
                <string>{{208,78},{43,78}}</string>
                <key>offset</key>
                <string>{-23,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{43,78}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_09</key>
            <dict>
                <key>frame</key>
                <string>{{326,68},{49,62}}</string>
                <key>offset</key>
                <string>{-26,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_10</key>
            <dict>
                <key>frame</key>
                <string>{{326,68},{49,62}}</string>
                <key>offset</key>
                <string>{-26,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_11</key>
            <dict>
                <key>frame</key>
                <string>{{326,68},{49,62}}</string>
                <key>offset</key>
                <string>{-26,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_12</key>
            <dict>
                <key>frame</key>
                <string>{{326,68},{49,62}}</string>
                <key>offset</key>
                <string>{-26,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_13</key>
            <dict>
                <key>frame</key>
                <string>{{259,60},{63,48}}</string>
                <key>offset</key>
                <string>{-33,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{63,48}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_14</key>
            <dict>
                <key>frame</key>
                <string>{{259,60},{63,48}}</string>
                <key>offset</key>
                <string>{-33,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{63,48}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_15</key>
            <dict>
                <key>frame</key>
                <string>{{259,60},{63,48}}</string>
                <key>offset</key>
                <string>{-33,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{63,48}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_16</key>
            <dict>
                <key>frame</key>
                <string>{{259,60},{63,48}}</string>
                <key>offset</key>
                <string>{-33,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{63,48}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_17</key>
            <dict>
                <key>frame</key>
                <string>{{208,158},{75,40}}</string>
                <key>offset</key>
                <string>{-39,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,40}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_18</key>
            <dict>
                <key>frame</key>
                <string>{{208,158},{75,40}}</string>
                <key>offset</key>
                <string>{-39,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,40}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_19</key>
            <dict>
                <key>frame</key>
                <string>{{208,158},{75,40}}</string>
                <key>offset</key>
                <string>{-39,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,40}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_20</key>
            <dict>
                <key>frame</key>
                <string>{{208,158},{75,40}}</string>
                <key>offset</key>
                <string>{-39,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,40}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_21</key>
            <dict>
                <key>frame</key>
                <string>{{253,110},{71,38}}</string>
                <key>offset</key>
                <string>{-37,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{71,38}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_22</key>
            <dict>
                <key>frame</key>
                <string>{{253,110},{71,38}}</string>
                <key>offset</key>
                <string>{-37,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{71,38}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_23</key>
            <dict>
                <key>frame</key>
                <string>{{253,110},{71,38}}</string>
                <key>offset</key>
                <string>{-37,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{71,38}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_24</key>
            <dict>
                <key>frame</key>
                <string>{{253,110},{71,38}}</string>
                <key>offset</key>
                <string>{-37,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{71,38}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_25</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{63,56}}</string>
                <key>offset</key>
                <string>{-33,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{63,56}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_26</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{63,56}}</string>
                <key>offset</key>
                <string>{-33,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{63,56}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_27</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{63,56}}</string>
                <key>offset</key>
                <string>{-33,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{63,56}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_28</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{63,56}}</string>
                <key>offset</key>
                <string>{-33,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{63,56}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_29</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{55,64}}</string>
                <key>offset</key>
                <string>{-29,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{55,64}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_30</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{55,64}}</string>
                <key>offset</key>
                <string>{-29,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{55,64}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_31</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{55,64}}</string>
                <key>offset</key>
                <string>{-29,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{55,64}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_32</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{55,64}}</string>
                <key>offset</key>
                <string>{-29,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{55,64}}</string>
                <key>sourceSize</key>
                <string>{153,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>headquarter_1.png</string>
            <key>size</key>
            <string>{381,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afad8e4de2ecd52da3532464a9ef64e7$</string>
            <key>textureFileName</key>
            <string>headquarter_1.png</string>
        </dict>
    </dict>
</plist>
