<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_01_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{748,685}}</string>
                <key>offset</key>
                <string>{28,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{748,685}}</string>
                <key>sourceSize</key>
                <string>{804,723}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_01</key>
            <dict>
                <key>frame</key>
                <string>{{3566,756},{304,347}}</string>
                <key>offset</key>
                <string>{136,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,56},{304,347}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_02</key>
            <dict>
                <key>frame</key>
                <string>{{3137,2},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_03</key>
            <dict>
                <key>frame</key>
                <string>{{3524,2},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_04</key>
            <dict>
                <key>frame</key>
                <string>{{3260,713},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_05</key>
            <dict>
                <key>frame</key>
                <string>{{3119,407},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_06</key>
            <dict>
                <key>frame</key>
                <string>{{2831,2},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_07</key>
            <dict>
                <key>frame</key>
                <string>{{2954,713},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_08</key>
            <dict>
                <key>frame</key>
                <string>{{2714,407},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_09</key>
            <dict>
                <key>frame</key>
                <string>{{2648,713},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_10</key>
            <dict>
                <key>frame</key>
                <string>{{2342,713},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_11</key>
            <dict>
                <key>frame</key>
                <string>{{2525,2},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_12</key>
            <dict>
                <key>frame</key>
                <string>{{2309,407},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_13</key>
            <dict>
                <key>frame</key>
                <string>{{2219,2},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_14</key>
            <dict>
                <key>frame</key>
                <string>{{1913,2},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_15</key>
            <dict>
                <key>frame</key>
                <string>{{2036,713},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_16</key>
            <dict>
                <key>frame</key>
                <string>{{1904,407},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_17</key>
            <dict>
                <key>frame</key>
                <string>{{1607,2},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_18</key>
            <dict>
                <key>frame</key>
                <string>{{1730,713},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_19</key>
            <dict>
                <key>frame</key>
                <string>{{1499,407},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_20</key>
            <dict>
                <key>frame</key>
                <string>{{1424,713},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_21</key>
            <dict>
                <key>frame</key>
                <string>{{1118,713},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_22</key>
            <dict>
                <key>frame</key>
                <string>{{1301,2},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_23</key>
            <dict>
                <key>frame</key>
                <string>{{1094,407},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_24</key>
            <dict>
                <key>frame</key>
                <string>{{812,713},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_25</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_26</key>
            <dict>
                <key>frame</key>
                <string>{{689,407},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_27</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_28</key>
            <dict>
                <key>frame</key>
                <string>{{407,752},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{304,403}}</string>
                <key>offset</key>
                <string>{136,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,0},{304,403}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
            <key>enemy_headquarter_1_enemy_headquarter_1_04_30</key>
            <dict>
                <key>frame</key>
                <string>{{3566,407},{304,347}}</string>
                <key>offset</key>
                <string>{136,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,56},{304,347}}</string>
                <key>sourceSize</key>
                <string>{696,593}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy_headquarter_1.png</string>
            <key>size</key>
            <string>{3872,1118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9802b2e288c3a07474c65b18e217f544$</string>
            <key>textureFileName</key>
            <string>enemy_headquarter_1.png</string>
        </dict>
    </dict>
</plist>
