<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_storage_1_gold_storage_1_01_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{498,420}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{498,420}}</string>
                <key>sourceSize</key>
                <string>{504,466}</string>
            </dict>
            <key>gold_storage_1_gold_storage_1_02_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{498,420}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{498,420}}</string>
                <key>sourceSize</key>
                <string>{504,466}</string>
            </dict>
            <key>gold_storage_1_gold_storage_1_02_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{498,420}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{498,420}}</string>
                <key>sourceSize</key>
                <string>{504,466}</string>
            </dict>
            <key>gold_storage_1_gold_storage_1_02_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{498,420}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{498,420}}</string>
                <key>sourceSize</key>
                <string>{504,466}</string>
            </dict>
            <key>gold_storage_1_gold_storage_1_02_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,420}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{498,420}}</string>
                <key>sourceSize</key>
                <string>{504,466}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold_storage_1.png</string>
            <key>size</key>
            <string>{502,2112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d11b68e3cefee69524542e49c12cf16$</string>
            <key>textureFileName</key>
            <string>gold_storage_1.png</string>
        </dict>
    </dict>
</plist>
