<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clan_portal_1_clan_portal_1_01_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,217}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{246,217}}</string>
                <key>sourceSize</key>
                <string>{264,237}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_01</key>
            <dict>
                <key>frame</key>
                <string>{{817,180},{159,192}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,102},{159,192}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_02</key>
            <dict>
                <key>frame</key>
                <string>{{817,180},{159,192}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,102},{159,192}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_03</key>
            <dict>
                <key>frame</key>
                <string>{{445,178},{163,190}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,102},{163,190}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_04</key>
            <dict>
                <key>frame</key>
                <string>{{445,178},{163,190}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,102},{163,190}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_05</key>
            <dict>
                <key>frame</key>
                <string>{{1209,2},{173,184}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,101},{173,184}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_06</key>
            <dict>
                <key>frame</key>
                <string>{{1209,2},{173,184}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,101},{173,184}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_07</key>
            <dict>
                <key>frame</key>
                <string>{{1395,2},{179,180}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,100},{179,180}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_08</key>
            <dict>
                <key>frame</key>
                <string>{{1395,2},{179,180}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,100},{179,180}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_09</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{187,176}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,98},{187,176}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_10</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{187,176}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,98},{187,176}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_11</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{189,174}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,98},{189,174}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_12</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{189,174}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,98},{189,174}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_13</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{193,174}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,97},{193,174}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_14</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{193,174}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,97},{193,174}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_15</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{193,176}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{193,176}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_16</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{193,176}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{193,176}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_17</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{187,176}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{187,176}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_18</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{187,176}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{187,176}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_19</key>
            <dict>
                <key>frame</key>
                <string>{{1577,2},{179,174}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,97},{179,174}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_20</key>
            <dict>
                <key>frame</key>
                <string>{{1577,2},{179,174}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,97},{179,174}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_21</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2},{173,176}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,96},{173,176}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_22</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2},{173,176}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,96},{173,176}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_23</key>
            <dict>
                <key>frame</key>
                <string>{{637,178},{163,178}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,97},{163,178}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_24</key>
            <dict>
                <key>frame</key>
                <string>{{637,178},{163,178}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,97},{163,178}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_25</key>
            <dict>
                <key>frame</key>
                <string>{{1209,177},{159,182}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,99},{159,182}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_26</key>
            <dict>
                <key>frame</key>
                <string>{{1209,177},{159,182}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,99},{159,182}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_27</key>
            <dict>
                <key>frame</key>
                <string>{{1393,183},{155,188}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,101},{155,188}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_28</key>
            <dict>
                <key>frame</key>
                <string>{{1393,183},{155,188}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,101},{155,188}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_29</key>
            <dict>
                <key>frame</key>
                <string>{{250,180},{153,192}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,101},{153,192}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_30</key>
            <dict>
                <key>frame</key>
                <string>{{250,180},{153,192}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,101},{153,192}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_31</key>
            <dict>
                <key>frame</key>
                <string>{{1011,180},{155,194}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,101},{155,194}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
            <key>clan_portal_1_clan_portal_1_04_32</key>
            <dict>
                <key>frame</key>
                <string>{{1011,180},{155,194}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,101},{155,194}}</string>
                <key>sourceSize</key>
                <string>{207,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clan_portal_1.png</string>
            <key>size</key>
            <string>{1933,343}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:481719dc38e9f15499f2283b8fb144b7$</string>
            <key>textureFileName</key>
            <string>clan_portal_1.png</string>
        </dict>
    </dict>
</plist>
