<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_storage_1_gold_storage_1_01_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{248,211}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,211}}</string>
                <key>sourceSize</key>
                <string>{252,233}</string>
            </dict>
            <key>gold_storage_1_gold_storage_1_02_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{248,211}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,211}}</string>
                <key>sourceSize</key>
                <string>{252,233}</string>
            </dict>
            <key>gold_storage_1_gold_storage_1_02_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{248,211}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,211}}</string>
                <key>sourceSize</key>
                <string>{252,233}</string>
            </dict>
            <key>gold_storage_1_gold_storage_1_02_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{248,211}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,211}}</string>
                <key>sourceSize</key>
                <string>{252,233}</string>
            </dict>
            <key>gold_storage_1_gold_storage_1_02_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,211}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{248,211}}</string>
                <key>sourceSize</key>
                <string>{252,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold_storage_1.png</string>
            <key>size</key>
            <string>{252,1067}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc78910804448ce0e4097f93a3785c26$</string>
            <key>textureFileName</key>
            <string>gold_storage_1.png</string>
        </dict>
    </dict>
</plist>
