<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headquarter_1_headquarter_1_01_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{391,407}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{391,407}}</string>
                <key>sourceSize</key>
                <string>{407,447}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_01</key>
            <dict>
                <key>frame</key>
                <string>{{411,167},{96,145}}</string>
                <key>offset</key>
                <string>{-51,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,5},{96,145}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_02</key>
            <dict>
                <key>frame</key>
                <string>{{411,167},{96,145}}</string>
                <key>offset</key>
                <string>{-51,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,5},{96,145}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_03</key>
            <dict>
                <key>frame</key>
                <string>{{411,167},{96,145}}</string>
                <key>offset</key>
                <string>{-51,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,5},{96,145}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_04</key>
            <dict>
                <key>frame</key>
                <string>{{411,167},{96,145}}</string>
                <key>offset</key>
                <string>{-51,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,5},{96,145}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_05</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{84,153}}</string>
                <key>offset</key>
                <string>{-45,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,4},{84,153}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_06</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{84,153}}</string>
                <key>offset</key>
                <string>{-45,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,4},{84,153}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_07</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{84,153}}</string>
                <key>offset</key>
                <string>{-45,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,4},{84,153}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_08</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{84,153}}</string>
                <key>offset</key>
                <string>{-45,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,4},{84,153}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_09</key>
            <dict>
                <key>frame</key>
                <string>{{563,114},{98,125}}</string>
                <key>offset</key>
                <string>{-52,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{98,125}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_10</key>
            <dict>
                <key>frame</key>
                <string>{{563,114},{98,125}}</string>
                <key>offset</key>
                <string>{-52,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{98,125}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_11</key>
            <dict>
                <key>frame</key>
                <string>{{563,114},{98,125}}</string>
                <key>offset</key>
                <string>{-52,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{98,125}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_12</key>
            <dict>
                <key>frame</key>
                <string>{{563,114},{98,125}}</string>
                <key>offset</key>
                <string>{-52,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{98,125}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_13</key>
            <dict>
                <key>frame</key>
                <string>{{524,293},{124,95}}</string>
                <key>offset</key>
                <string>{-65,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{124,95}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_14</key>
            <dict>
                <key>frame</key>
                <string>{{524,293},{124,95}}</string>
                <key>offset</key>
                <string>{-65,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{124,95}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_15</key>
            <dict>
                <key>frame</key>
                <string>{{524,293},{124,95}}</string>
                <key>offset</key>
                <string>{-65,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{124,95}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_16</key>
            <dict>
                <key>frame</key>
                <string>{{524,293},{124,95}}</string>
                <key>offset</key>
                <string>{-65,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{124,95}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_17</key>
            <dict>
                <key>frame</key>
                <string>{{411,88},{150,77}}</string>
                <key>offset</key>
                <string>{-78,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,77}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_18</key>
            <dict>
                <key>frame</key>
                <string>{{411,88},{150,77}}</string>
                <key>offset</key>
                <string>{-78,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,77}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_19</key>
            <dict>
                <key>frame</key>
                <string>{{411,88},{150,77}}</string>
                <key>offset</key>
                <string>{-78,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,77}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_20</key>
            <dict>
                <key>frame</key>
                <string>{{411,88},{150,77}}</string>
                <key>offset</key>
                <string>{-78,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,77}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_21</key>
            <dict>
                <key>frame</key>
                <string>{{558,214},{140,77}}</string>
                <key>offset</key>
                <string>{-73,177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{140,77}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_22</key>
            <dict>
                <key>frame</key>
                <string>{{558,214},{140,77}}</string>
                <key>offset</key>
                <string>{-73,177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{140,77}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_23</key>
            <dict>
                <key>frame</key>
                <string>{{558,214},{140,77}}</string>
                <key>offset</key>
                <string>{-73,177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{140,77}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_24</key>
            <dict>
                <key>frame</key>
                <string>{{558,214},{140,77}}</string>
                <key>offset</key>
                <string>{-73,177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{140,77}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_25</key>
            <dict>
                <key>frame</key>
                <string>{{411,265},{124,111}}</string>
                <key>offset</key>
                <string>{-65,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{124,111}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_26</key>
            <dict>
                <key>frame</key>
                <string>{{411,265},{124,111}}</string>
                <key>offset</key>
                <string>{-65,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{124,111}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_27</key>
            <dict>
                <key>frame</key>
                <string>{{411,265},{124,111}}</string>
                <key>offset</key>
                <string>{-65,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{124,111}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_28</key>
            <dict>
                <key>frame</key>
                <string>{{411,265},{124,111}}</string>
                <key>offset</key>
                <string>{-65,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{124,111}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_29</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{110,127}}</string>
                <key>offset</key>
                <string>{-58,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,5},{110,127}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_30</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{110,127}}</string>
                <key>offset</key>
                <string>{-58,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,5},{110,127}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_31</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{110,127}}</string>
                <key>offset</key>
                <string>{-58,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,5},{110,127}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
            <key>headquarter_1_headquarter_1_04_32</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{110,127}}</string>
                <key>offset</key>
                <string>{-58,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,5},{110,127}}</string>
                <key>sourceSize</key>
                <string>{306,441}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>headquarter_1.png</string>
            <key>size</key>
            <string>{700,395}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91b39752ac11bfdb45e5cffb391d9681$</string>
            <key>textureFileName</key>
            <string>headquarter_1.png</string>
        </dict>
    </dict>
</plist>
